.heroImageContainer {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.heroImage {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 12px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
}

.DocumentRenderer_container {
  padding: 24px;

  a {
    color: currentColor;
    opacity: 80%;
  }
}
