.LayoutBasic_Center {
  padding: 8px;
}

.LayoutBasic_Bottom {
  padding: 8px;
}

.messageList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.loadingIndicator {
  opacity: 80%;
  text-align: center;
}
