.FromYou {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 8px;
  font: var(--wehere--body-m--font);
  white-space: pre-wrap;

  .space {
    min-width: 20%;
    flex: 1 0 auto;
  }

  .content {
    background-color: var(
      --wehere--comp-message-viewer--bg-from-you,
      var(--md-sys-color-primary)
    );
    border-radius: 12px;
    color: var(
      --wehere--comp-message-viewer--fg-from-you,
      var(--md-sys-color-on-primary)
    );
    flex: 0 1 auto;
    min-height: 48px;
    min-width: 0;
    padding: 16px;
  }
}

.FromZir {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 8px;
  font: var(--wehere--body-m--font);
  white-space: pre-wrap;

  .avatar {
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 48px;
    background-color: var(
      --wehere--comp-message-viewer--fg-from-zir,
      var(--md-sys-color-primary)
    );
    flex: 0 0 auto;
  }

  .content {
    background-color: var(
      --wehere--comp-message-viewer--bg-from-zir,
      var(--md-sys-color-surface-container)
    );
    border-radius: 12px;
    color: var(
      --wehere--comp-message-viewer--fg-from-zir,
      var(--md-sys-color-on-surface)
    );
    flex: 0 1 auto;
    min-height: 48px;
    min-width: 0;
    padding: 16px;
  }

  .space {
    min-width: 20%;
    flex: 1 0 auto;
  }
}
