.container {
  padding: 36px 12px;
  border-radius: 12px;
  background-color: var(--md-sys-color-surface-container);
  color: var(--md-sys-color-on-surface);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  all: unset;
  display: block;
  box-sizing: border-box;

  font: var(--wehere--headline-m--font);
  color: var(--md-sys-color-primary);
  margin-bottom: 24px;
  text-align: center;
}

.fieldset {
  all: unset;
  display: flex;
  box-sizing: border-box;

  width: 100%;
  max-width: 720px;
  gap: 8px;
  align-items: center;
}

.input {
  all: unset;
  display: flex;
  box-sizing: border-box;

  flex: 1 1 auto;
  border: 1px solid var(--md-sys-color-outline);
  color: var(--md-sys-color-on-surface);
  height: 56px;
  padding: 4px 16px;
  border-radius: 4px;
  font: var(--wehere--body-m--font);
}

.button {
  flex: 0 0 auto;
  height: 56px !important;
  border-radius: 4px !important;
}

.ButtonFilled {
  all: unset;
  display: flex;
  box-sizing: border-box;

  cursor: pointer;
  justify-content: center;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  height: 40px;

  --state-color: transparent;
  --state-opacity: 0;
  --background-color: var(--md-sys-color-primary);
  --background-opacity: 100%;
  --content-color: var(--md-sys-color-on-primary);
  --content-opacity: 100%;

  &:hover {
    --state-color: var(--md-sys-color-on-primary);
    --state-opacity: var(--state--hover--state-layer-opacity);
  }

  &:active {
    --state-color: var(--md-sys-color-on-primary);
    --state-opacity: var(--state--pressed--state-layer-opacity);
  }

  &:disabled {
    --background-color: var(--md-sys-color-on-surface);
    --background-opacity: 0.12;
    --content-color: var(--md-sys-color-on-surface);
    --content-opacity: 0.38;
    cursor: not-allowed;
  }

  & > .background {
    position: absolute;
    inset: 0;
    background-color: var(--background-color);
    opacity: var(--background-opacity);
  }

  & > .state {
    display: flex;
    content: "";
    position: absolute;
    inset: 0;
    opacity: var(--state-opacity);
    background-color: var(--state-color);
    transition-property: background-color, opacity;
    transition-duration: 0.125s;
  }

  & > .content {
    align-items: center;
    color: var(--content-color);
    opacity: var(--content-opacity);
    display: flex;
    font: var(--wehere--label-m--font);
    gap: 8px;
    justify-content: center;
    padding: 4px 24px;
    position: relative;

    & > .icon {
      display: flex;
      font-size: 24px;
      margin-left: -8px;
    }

    & > .label {
      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
