.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 12px 56px 12px;
  gap: 24px;
  text-align: center;

  & > h2 {
    all: unset;
    display: block;
    box-sizing: border-box;

    font: var(--wehere--headline-l--font);
    color: var(
      --wehere--comp-section-our-mission--elem-title--fg,
      var(--md-sys-color-primary)
    );
  }

  & > p {
    all: unset;
    display: block;
    box-sizing: border-box;

    font: var(--wehere--body-m--font);
    max-width: 800px;
    color: var(
      --wehere--comp-section-our-mission--elem-description--fg,
      var(--md-sys-color-on-surface)
    );
  }
}
