.Root {
  // background-color: var(
  //   --wehere--color-primary,
  //   var(--md-sys-color-background)
  // );
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
  // background-image: linear-gradient(
  //   -45deg,
  //   var(--wehere--color-gradient-dark),
  //   var(--wehere--color-gradient-light)
  // );
  display: grid;
  grid-template-areas: "L T T" "L C R" "L B B";
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  height: 100dvh;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.Left {
  align-items: stretch;
  display: flex;
  grid-area: L;
  overflow-y: auto;
}

.Top {
  grid-area: T;
}

.Center {
  grid-area: C;
  overflow-y: auto;
  position: relative;
}

.Right {
  grid-area: R;
}

.Bottom {
  grid-area: B;
}

.Modal {
  display: flex;
  position: fixed;
  inset: 0;
}
