.container {
  color: var(
    --wehere--comp-section-hero--color-on-surface,
    var(--md-sys-color-on-surface)
  );

  align-items: center;
  display: flex;
  min-height: calc(100dvh - 96px);
  min-height: calc(100vh - 96px);
  justify-content: center;
  padding: 56px 24px;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 640px;
  font: var(--wehere--body-m--font);

  p {
    margin: 0.5em 0;
  }
}

.subtitle {
  opacity: 0.8;
  font: var(--wehere--display-m--font);

  @media screen and (min-width: 840px) {
    font: var(--wehere--display-l--font);
  }
}
