.Card {
  padding: 16px;
  border-radius: 12px;
  background-color: var(
    --wehere--comp-card--color-surface-container,
    var(--md-sys-color-surface-container-low)
  );
  color: var(
    --wehere--comp-card--color-on-surface,
    var(--md-sys-color-on-surface)
  );
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 30%), 0px 1px 3px 1px rgb(0 0 0 / 15%);

  & > .title {
    font: var(--wehere--headline-m--font);
    margin-bottom: 0.5rem;
  }

  & > .description {
    font: var(--wehere--body-m--font);
  }
}

.Root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 16px;

  @media screen and (min-width: 600px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 1920px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
