.center {
  font: var(--wehere--body-m--font);
  padding: 16px;
  color: var(--md-sys-color-on-surface);

  a {
    cursor: pointer;
    color: currentColor;
    text-decoration: underline currentColor solid 1px;
  }
}
