.container {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-end;
  font: var(--wehere--body-m--font);
}

.textarea {
  all: unset;
  display: flex;
  box-sizing: border-box;

  white-space: pre-wrap;
  border: 1px solid var(--md-sys-color-outline);
  border-radius: 12px;
  padding: 16px;
  flex: 1 1 auto;
  min-width: 0;
  background-color: var(
    --wehere--comp-message-composer--elem-text-area--bg,
    transparent
  );
  color: var(
    --wehere--comp-message-composer--elem-text-area--fg,
    var(--md-sys-color-on-surface)
  );
  height: 72px;
  min-height: 72px;
  max-height: 144px;

  &:hover {
    border-color: var(--md-sys-color-on-surface);
  }

  &:focus {
    border-color: var(--md-sys-color-primary);
    outline: solid 1px var(--md-sys-color-primary);
  }
}

.button {
  all: unset;
  display: flex;
  box-sizing: border-box;

  align-items: center;
  background-color: var(
    --wehere--comp-message-composer--elem-button-send--bg,
    var(--md-sys-color-primary)
  );
  border-radius: 36px;
  color: var(
    --wehere--comp-message-composer--elem-button-send--fg,
    var(--md-sys-color-on-primary)
  );
  cursor: pointer;
  flex: 0 0 auto;
  font-size: 36px;
  height: 72px;
  justify-content: center;
  padding: 24px;
  position: relative;
  width: 72px;
  overflow: hidden;

  --state-color: transparent;
  --state-opacity: 0;

  &:hover {
    --state-color: var(--md-sys-color-on-primary);
    --state-opacity: var(--state--hover--state-layer-opacity);
  }

  &:active {
    --state-color: var(--md-sys-color-on-primary);
    --state-opacity: var(--state--pressed--state-layer-opacity);
  }

  &:before {
    background-color: var(--state-color);
    content: "";
    display: flex;
    inset: 0;
    opacity: var(--state-opacity);
    position: absolute;
    transition-duration: 0.125s;
    transition-property: background-color, opacity;
  }
}
