* {
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-alumni-sans), sans-serif;
  font-size: 20px;

  --color--primary: rgb(0 73 140);
  --color--surface-tint: rgb(34 95 166);
  --color--on-primary: rgb(255 255 255);
  --color--primary-container: rgb(54 110 182);
  --color--on-primary-container: rgb(255 255 255);
  --color--secondary: rgb(78 97 110);
  --color--on-secondary: rgb(255 255 255);
  --color--secondary-container: rgb(141 160 174);
  --color--on-secondary-container: rgb(0 18 28);
  --color--tertiary: rgb(91 91 125);
  --color--on-tertiary: rgb(255 255 255);
  --color--tertiary-container: rgb(154 154 191);
  --color--on-tertiary-container: rgb(11 12 41);
  --color--error: rgb(168 57 0);
  --color--on-error: rgb(255 255 255);
  --color--error-container: rgb(255 113 54);
  --color--on-error-container: rgb(33 5 0);
  --color--background: rgb(249 249 255);
  --color--on-background: rgb(25 28 32);
  --color--surface: rgb(249 249 255);
  --color--on-surface: rgb(25 28 32);
  --color--surface-variant: rgb(222 226 239);
  --color--on-surface-variant: rgb(66 71 81);
  --color--outline: rgb(114 119 130);
  --color--outline-variant: rgb(194 198 210);
  --color--shadow: rgb(0 0 0);
  --color--scrim: rgb(0 0 0);
  --color--inverse-surface: rgb(46 48 53);
  --color--inverse-on-surface: rgb(240 240 247);
  --color--inverse-primary: rgb(166 200 255);
  --color--primary-fixed: rgb(213 227 255);
  --color--on-primary-fixed: rgb(0 28 59);
  --color--primary-fixed-dim: rgb(166 200 255);
  --color--on-primary-fixed-variant: rgb(0 71 135);
  --color--secondary-fixed: rgb(209 229 245);
  --color--on-secondary-fixed: rgb(10 30 41);
  --color--secondary-fixed-dim: rgb(182 201 216);
  --color--on-secondary-fixed-variant: rgb(55 73 85);
  --color--tertiary-fixed: rgb(225 224 255);
  --color--on-tertiary-fixed: rgb(24 24 54);
  --color--tertiary-fixed-dim: rgb(196 195 234);
  --color--on-tertiary-fixed-variant: rgb(67 68 100);
  --color--surface-dim: rgb(217 218 224);
  --color--surface-bright: rgb(249 249 255);
  --color--surface-container-lowest: rgb(255 255 255);
  --color--surface-container-low: rgb(243 243 250);
  --color--surface-container: rgb(237 237 244);
  --color--surface-container-high: rgb(231 232 238);
  --color--surface-container-highest: rgb(225 226 233);

  --state--hover--state-layer-opacity: 0.08;
  --state--pressed--state-layer-opacity: 0.1;

  background-color: var(--color--surface);
}
