.LayoutBasic_Root {
  background-image: linear-gradient(
    -45deg,
    var(--wehere--color-gradient-dark),
    var(--wehere--color-gradient-light)
  );
}

.LayoutBasic_Center {
  padding: 16px;
}

.waveDivider {
  color: var(
    --wehere--comp-section-hero--color-on-surface,
    var(--md-sys-color-on-surface)
  );
}
