// Expanded: Standard (static, with product name)
// Medium: Rail + Modal
// Compact: Top App Bar + Modal

.Sidebar {
  width: 360px;
  background-color: var(--color--surface);
  color: var(--color-on-surface);
  padding: 32px 28px;

  .slotProduct {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 36px 0;
    border-bottom: 1px solid var(--color--outline-variant);
  }

  ul {
    all: unset;
    display: flex;

    flex-direction: column;
  }

  li {
    all: unset;
    display: block;
  }
}

.ItemViewer {
  all: unset;
  display: flex;
  box-sizing: border-box;

  cursor: pointer;
  align-items: center;
  gap: 12px;
  height: 56px;
  padding: 8px 16px 8px 24px;
  margin-left: -16px;
  border-radius: 28px;
  overflow: hidden;
  position: relative;

  &:hover::before {
    background-color: var(--color--on-surface);
    content: "";
    display: block;
    inset: 0;
    position: absolute;
    opacity: var(--state--hover--state-layer-opacity);
  }

  .icon {
    width: 24px;
    height: 24px;
    font-size: 24px;
  }

  .label {
    font-size: 1rem;
  }
}
