// Expanded: Standard (static, with product name)
// Medium: Rail + Modal
// Compact: Top App Bar + Modal

.Sidebar {
  width: 360px;
  background-color: var(
    --wehere--comp-navigation--color-surface-container,
    var(--md-sys-color-surface-container)
  );
  color: var(
    --wehere--comp-navigation--color-on-surface,
    var(--md-sys-color-on-surface-container)
  );
  padding: 32px 28px;

  .slotProduct {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 36px 0;
    border-bottom: 1px solid var(--md-sys-color-outline-variant);
  }

  ul {
    all: unset;
    display: flex;

    flex-direction: column;
  }

  li {
    all: unset;
    display: block;
  }
}

.ItemViewer {
  all: unset;
  display: flex;
  box-sizing: border-box;

  cursor: pointer;
  align-items: center;
  gap: 12px;
  height: 56px;
  padding: 8px 16px 8px 24px;
  margin-left: -16px;
  border-radius: 28px;
  overflow: hidden;
  position: relative;
  color: var(
    --wehere--comp-navigation--color-on-surface,
    var(--md-sys-color-on-surface)
  );

  &:hover::before {
    background-color: var(
      --wehere--comp-navigation--color-on-surface,
      var(--md-sys-color-on-surface)
    );
    content: "";
    display: block;
    inset: 0;
    position: absolute;
    opacity: var(--state--hover--state-layer-opacity);
  }

  .icon {
    width: 24px;
    height: 24px;
    font-size: 24px;
  }

  .label {
    font-size: 1rem;
  }
}

.Rail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  padding: 56px 0;
  border-right: 1px solid var(--md-sys-color-outline-variant);
  background-color: var(--md-sys-color-surface-container);
  color: var(--md-sys-color-on-surface-container);

  ul {
    all: unset;
    display: flex;
    box-sizing: border-box;

    flex-direction: column;
    gap: 12px;
    align-items: stretch;
  }

  li {
    all: unset;
    display: block;
    box-sizing: border-box;
  }

  .buttonMenu {
    all: unset;
    display: flex;
    box-sizing: border-box;

    align-items: center;
    cursor: pointer;
    font-size: 24px;
    height: 48px;
    justify-content: center;
    margin-bottom: 56px;
    width: 48px;
    position: relative;
    border-radius: 24px;
    overflow: hidden;

    --state-color: transparent;
    --state-opacity: 0;

    &:hover {
      --state-color: var(--md-sys-color-on-surface-variant);
      --state-opacity: var(--state--hover--state-layer-opacity);
    }

    &:active {
      --state-color: var(--md-sys-color-on-surface-variant);
      --state-opacity: var(--state--pressed--state-layer-opacity);
    }

    &:before {
      display: flex;
      content: "";
      position: absolute;
      inset: 0;
      opacity: var(--state-opacity);
      background-color: var(--state-color);
      transition-property: background-color, opacity;
      transition-duration: 0.125s;
    }

    & > * {
      position: relative;
    }
  }
}

.RailItem {
  all: unset;
  display: flex;
  box-sizing: border-box;

  cursor: pointer;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 56px;
  gap: 4px;

  --icon-bg: transparent;
  --icon-fg: var(--md-sys-color-on-surface-variant);
  --label-fg: var(--md-sys-color-on-surface-variant);
  --label-weight: 500;

  &.active {
    --icon-bg: var(--md-sys-color-secondary-container);
    --icon-fg: var(--md-sys-color-on-secondary-container);
    --label-fg: var(--md-sys-color-on-surface);
    --label-weight: 700;
  }

  --state-color: transparent;
  --state-opacity: 0;

  &:hover {
    --state-color: var(--md-sys-color-on-surface);
    --state-opacity: var(--state--hover--state-layer-opacity);
  }

  &:active {
    --state-color: var(--md-sys-color-on-surface);
    --state-opacity: var(--state--pressed--state-layer-opacity);
  }

  .icon {
    align-items: center;
    border-radius: 16px;
    color: var(--icon-fg);
    background-color: var(--icon-bg);
    display: flex;
    font-size: 24px;
    height: 32px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 56px;

    &::before {
      background-color: var(--state-color);
      content: "";
      display: flex;
      inset: 0;
      opacity: var(--state-opacity);
      position: absolute;
      transition-duration: 125ms;
      transition-property: background-color, opacity;
    }

    & > * {
      position: relative;
    }
  }

  .label {
    display: block;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: var(--label-fg);
    font-size: 0.8rem;
    font-weight: var(--label-weight);
  }
}
