.Sidebar {
  background-color: var(
    --wehere--comp-navigation--color-surface-container,
    var(--md-sys-color-surface-container)
  );
  border-right: 1px solid var(--md-sys-color-outline-variant);
  color: var(
    --wehere--comp-navigation--color-on-surface,
    var(--md-sys-color-on-surface)
  );
  align-items: stretch;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 32px 28px;
  position: relative;
  width: 360px;

  .slotProduct {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 36px 0;

    [data-dark-theme] & {
      filter: grayscale(1) brightness(8);
    }
  }

  .slotProduct + .divider {
    all: unset;
    display: flex;
    box-sizing: border-box;

    width: 100%;
    border-bottom: 1px solid currentColor;
    opacity: 0.16;
  }

  & > .list {
    all: unset;
    display: flex;

    position: relative;
    flex-direction: column;
    gap: 8px 0;
    padding: 16px 0;
    flex: 1 0 auto;

    & > li {
      all: unset;
      display: block;
    }
  }

  & > .buttonSwitchTheme {
    flex: 0 0 auto;
  }
}

.ListItem {
  all: unset;
  display: flex;
  box-sizing: border-box;

  position: relative;
  overflow: hidden;
  border-radius: 28px;
  height: 56px;
  cursor: pointer;
  padding: 8px 16px;
  background-color: transparent;
  color: var(
    --wehere--comp-navigation--color-on-surface-variant,
    var(--md-sys-color-on-surface-variant)
  );

  --state-color: transparent;
  --state-opacity: 0;

  &.active {
    background-color: var(
      --wehere--comp-navigation--color-secondary-container,
      var(--md-sys-color-secondary-container)
    );
    color: var(
      --wehere--comp-navigation--color-on-secondary-container,
      var(--md-sys-color-on-secondary-container)
    );
  }

  &:hover {
    --state-opacity: var(--state--hover--state-layer-opacity);
    --state-color: var(
      --wehere--comp-navigation--color-on-surface,
      var(--md-sys-color-on-surface)
    );
  }

  & > .state {
    position: absolute;
    inset: 0;
    display: flex;

    background-color: var(--state-color);
    opacity: var(--state-opacity);
  }

  & > .content {
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;

    & > .icon {
      flex: 0 0 auto;
      height: 24px;
      width: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & > .label {
      flex: 0 1 auto;
      min-width: 0;
      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.ButtonIcon {
  all: unset;
  display: flex;
  box-sizing: border-box;

  cursor: pointer;
  justify-content: center;
  position: relative;
  border-radius: 24px;
  overflow: hidden;

  --state-color: transparent;
  --state-opacity: 0;

  &:hover {
    --state-color: var(--md-sys-color-on-surface-variant);
    --state-opacity: var(--state--hover--state-layer-opacity);
  }

  &:active {
    --state-color: var(--md-sys-color-on-surface-variant);
    --state-opacity: var(--state--pressed--state-layer-opacity);
  }

  .state {
    display: flex;
    content: "";
    position: absolute;
    inset: 0;
    opacity: var(--state-opacity);
    background-color: var(--state-color);
    transition-property: background-color, opacity;
    transition-duration: 0.125s;
  }

  .content {
    position: relative;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: var(--md-sys-color-on-surface-variant);
  }
}

.ButtonText {
  all: unset;
  display: flex;
  box-sizing: border-box;

  cursor: pointer;
  justify-content: center;
  position: relative;
  border-radius: 24px;
  overflow: hidden;

  --state-color: transparent;
  --state-opacity: 0;

  &:hover {
    --state-color: var(--md-sys-color-on-surface-variant);
    --state-opacity: var(--state--hover--state-layer-opacity);
  }

  &:active {
    --state-color: var(--md-sys-color-on-surface-variant);
    --state-opacity: var(--state--pressed--state-layer-opacity);
  }

  & > .state {
    display: flex;
    content: "";
    position: absolute;
    inset: 0;
    opacity: var(--state-opacity);
    background-color: var(--state-color);
    transition-property: background-color, opacity;
    transition-duration: 0.125s;
  }

  & > .content {
    align-items: center;
    color: var(--md-sys-color-primary);
    display: flex;
    font-size: 24px;
    gap: 8px;
    height: 48px;
    justify-content: center;
    padding: 16px;
    position: relative;

    & > .icon {
      display: flex;
    }

    & > .label {
      font-size: 1rem;
      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-weight: 500;
    }
  }
}

.Rail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  padding: 8px 0;
  border-right: 1px solid var(--md-sys-color-outline-variant);

  background-color: var(
    --wehere--comp-navigation--color-surface-container,
    var(--md-sys-color-surface-container)
  );
  border-right: 1px solid var(--md-sys-color-outline-variant);
  color: var(
    --wehere--comp-navigation--color-on-surface,
    var(--md-sys-color-on-surface-container)
  );

  ul {
    all: unset;
    display: flex;
    box-sizing: border-box;

    flex-direction: column;
    gap: 12px;
    align-items: stretch;
  }

  li {
    all: unset;
    display: block;
    box-sizing: border-box;
  }

  .buttonMenu {
    flex: 0 0 auto;
    margin-bottom: 64px;
  }

  .list {
    flex: 1 0 auto;
  }

  .buttonSwitchTheme {
    flex: 0 0 auto;
  }
}

.RailItem {
  all: unset;
  display: flex;
  box-sizing: border-box;

  cursor: pointer;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 56px;
  gap: 4px;

  --icon-bg: transparent;
  --icon-fg: var(--md-sys-color-on-surface-variant);
  --label-fg: var(--md-sys-color-on-surface-variant);
  --label-weight: 500;

  &.active {
    --icon-bg: var(--md-sys-color-secondary-container);
    --icon-fg: var(--md-sys-color-on-secondary-container);
    --label-fg: var(--md-sys-color-on-surface);
    --label-weight: 700;
  }

  --state-color: transparent;
  --state-opacity: 0;

  &:hover {
    --state-color: var(--md-sys-color-on-surface);
    --state-opacity: var(--state--hover--state-layer-opacity);
  }

  &:active {
    --state-color: var(--md-sys-color-on-surface);
    --state-opacity: var(--state--pressed--state-layer-opacity);
  }

  .icon {
    align-items: center;
    border-radius: 16px;
    color: var(--icon-fg);
    background-color: var(--icon-bg);
    display: flex;
    font-size: 24px;
    height: 32px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 56px;

    &::before {
      background-color: var(--state-color);
      content: "";
      display: flex;
      inset: 0;
      opacity: var(--state-opacity);
      position: absolute;
      transition-duration: 125ms;
      transition-property: background-color, opacity;
    }

    & > * {
      position: relative;
    }
  }

  .label {
    display: block;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: var(--label-fg);
    font-size: 0.8rem;
    font-weight: var(--label-weight);
  }
}

.Modal {
  display: flex;
  position: fixed;
  inset: 0;

  & > .scrim {
    display: flex;
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }

  & > .content {
    position: absolute;
    inset: 0 auto 0 0;
    display: flex;
    align-items: stretch;
  }
}
