.container {
  display: flex;
  gap: 24px;
  align-items: stretch;
  flex-direction: column;

  @media screen and (min-width: 840px) {
    flex-direction: row;
  }
}

.leftColumn {
  background-color: var(
    --wehere--comp-section-headline--elem-left--bg,
    var(--md-sys-color-surface-container)
  );
  border-radius: 24px;
  color: var(
    --wehere--comp-section-headline--elem-left--fg,
    var(--md-sys-color-on-surface)
  );
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  min-width: 0;
  overflow: hidden;
  padding: 48px;
  position: relative;

  & > * {
    position: relative;
  }

  & > .blendedBeans1 {
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    height: 100%;
    opacity: 6%;
    transform: translate(-33.3333%, 0) scale(1.5) rotate(-15deg);
  }

  & > .blendedBeans2 {
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    height: 100%;
    opacity: 4%;
    transform: translate(+33.3333%, -33.3333%) scale(0.75) rotate(0.5turn)
      rotate(-15deg);
  }

  & > h1 {
    all: unset;
    display: block;

    font: var(--wehere--hero--font);
    text-align: center;
  }

  & > p {
    all: unset;
    display: block;

    max-width: 720px;
    font: var(--wehere--body-m--font);
    margin-top: 1em;
  }

  & > a {
    all: unset;
    display: flex;
    box-sizing: border-box;

    font: var(--wehere--label-l--font);
    margin-top: 36px;
    cursor: pointer;
    justify-content: center;
    position: relative;
    border-radius: 36px;
    overflow: hidden;

    --state-color: transparent;
    --state-opacity: 0;

    &:hover {
      --state-color: var(
        --wehere--comp-section-headline--elem-button--fg,
        var(--md-sys-color-on-primary)
      );
      --state-opacity: var(--state--hover--state-layer-opacity);
    }

    &:active {
      --state-color: var(
        --wehere--comp-section-headline--elem-button--fg,
        var(--md-sys-color-on-primary)
      );
      --state-opacity: var(--state--pressed--state-layer-opacity);
    }

    & > .background {
      display: flex;
      content: "";
      position: absolute;
      inset: 0;
      background-color: var(
        --wehere--comp-section-headline--elem-button--bg,
        var(--md-sys-color-primary)
      );
    }

    & > .state {
      display: flex;
      content: "";
      position: absolute;
      inset: 0;
      opacity: var(--state-opacity);
      background-color: var(--state-color);
      transition-property: background-color, opacity;
      transition-duration: 0.125s;
    }

    & > .content {
      align-items: center;
      color: var(
        --wehere--comp-section-headline--elem-button--fg,
        var(--md-sys-color-on-primary)
      );
      display: flex;
      gap: 8px;
      height: 72px;
      justify-content: center;
      padding: 16px 36px;
      position: relative;

      & > .icon {
        display: flex;
        font-size: 24px;
        line-height: 1;
      }

      & > .label {
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}

.rightColumn {
  // flex: 0 0 auto;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // TODO:
  display: none;
}

.imageContainer {
  border-radius: 24px;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 480px;

  &::before {
    display: flex;
    width: 0;
    content: "";
    padding-top: 100%;
  }

  @media screen and (min-width: 840px) {
    width: calc(50vw - 40px);
    max-width: none;
  }

  @media screen and (min-width: 1240px) {
    width: calc(50vw - 180px);
    max-width: none;
  }
}
